.list-link {
  color: white;
  text-align: right;
}
.search {
  text-align: center;
}
.image {
  color: rgb(23, 23, 172);
  font-family: Arial Narrow, sans-serif;
  font-size: 20px;
}
.input {
  border: 3px solid gray;
  border-radius: 5px;
}

h1 {
  font-family: Arial Narrow, sans-serif;
  font-size: 60px;
}
.google-3 {
  color: blue;
  margin-right: 90px;
  text-align: left;
}
.advanted {
  color: red;
}
.page {
  color: blue;
}
.g {
  color: blue;
}
.o-1 {
  color: red;
}
.o-2 {
  color: yellow;
}
.l {
  color: green;
}
